In [1]:
#Questions
#=========
#1.How has employment in Nigeria/Denmark varied over time
#2.What are the higest and lowest employment levels(which countries have them,where is nigeria on the spectrum)
#3.

In [2]:
import pandas as pd

daily_engagement = pd.read_csv('daily_engagement_full.csv')
len(daily_engagement['acct'].unique())

1237

In [5]:
import numpy as np
# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

print (countries)

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']

In [6]:
# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])
print(employment)

[ 55.70000076  51.40000153  50.5         75.69999695  58.40000153
  40.09999847  61.5         57.09999847  60.90000153  66.59999847
  60.40000153  68.09999847  66.90000153  53.40000153  48.59999847
  56.79999924  71.59999847  58.40000153  70.40000153  41.20000076]

In [17]:
# Change False to True for each block of code to see what it does

# Accessing elements
if True:
    print (countries[0])
    print (countries[3])

# Slicing
if True:
    print (countries[0:3])
    print (countries[:3])
    print (countries[17:])
    print (countries[:])

# Element types
if True:
    print (countries.dtype)
    print (employment.dtype)
    print (np.array([0, 1, 2, 3]).dtype)
    print (np.array([1.0, 1.5, 2.0, 2.5]).dtype)
    print (np.array([True, False, True]).dtype)
    print (np.array(['AL', 'AK', 'AZ', 'AR', 'CA']).dtype)

# Looping
if True:
    for country in countries:
        print ('Examining country {}'.format(country))

    for i in range(len(countries)):
        
        country_employment={}
        country = countries[i]
        country_employment = employment[i]
        #country_employment.concatenate(country[employment[i]])
        
        print ('Country {} has employment {}'.format(country,
                country_employment))

country_employment = dict(zip(employment, countries))
print(country_employment)


# Numpy functions
if True:
    print (employment.mean())
    print (employment.std())
    print (employment.max())
    print (employment.sum())

Afghanistan
Angola
['Afghanistan' 'Albania' 'Algeria']
['Afghanistan' 'Albania' 'Algeria']
['Bhutan' 'Bolivia' 'Bosnia and Herzegovina']
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh'
 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina']
<U22
float64
int64
float64
bool
<U2
Examining country Afghanistan
Examining country Albania
Examining country Algeria
Examining country Angola
Examining country Argentina
Examining country Armenia
Examining country Australia
Examining country Austria
Examining country Azerbaijan
Examining country Bahamas
Examining country Bahrain
Examining country Bangladesh
Examining country Barbados
Examining country Belarus
Examining country Belgium
Examining country Belize
Examining country Benin
Examining country Bhutan
Examining country Bolivia
Examining country Bosnia and Herzegovina
Country Afghanistan has employment 55.70000076
Country Albania has employment 51.40000153
Country Algeria has employment 50.5
Country Angola has employment 75.69999695
Country Argentina has employment 58.40000153
Country Armenia has employment 40.09999847
Country Australia has employment 61.5
Country Austria has employment 57.09999847
Country Azerbaijan has employment 60.90000153
Country Bahamas has employment 66.59999847
Country Bahrain has employment 60.40000153
Country Bangladesh has employment 68.09999847
Country Barbados has employment 66.90000153
Country Belarus has employment 53.40000153
Country Belgium has employment 48.59999847
Country Belize has employment 56.79999924
Country Benin has employment 71.59999847
Country Bhutan has employment 58.40000153
Country Bolivia has employment 70.40000153
Country Bosnia and Herzegovina has employment 41.20000076
{55.700000760000002: 'Afghanistan', 51.400001529999997: 'Albania', 50.5: 'Algeria', 75.699996949999999: 'Angola', 58.400001529999997: 'Bhutan', 40.099998470000003: 'Armenia', 61.5: 'Australia', 57.099998470000003: 'Austria', 60.900001529999997: 'Azerbaijan', 66.599998470000003: 'Bahamas', 60.400001529999997: 'Bahrain', 68.099998470000003: 'Bangladesh', 66.900001529999997: 'Barbados', 53.400001529999997: 'Belarus', 48.599998470000003: 'Belgium', 56.799999239999998: 'Belize', 71.599998470000003: 'Benin', 70.400001529999997: 'Bolivia', 41.200000760000002: 'Bosnia and Herzegovina'}
58.6850000385
9.33826911369
75.69999695
1173.70000077

In [21]:
def max_employment(countries, employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    '''
    
  
    max_country = country_employment[employment.max()]   # Replace this with your code
    
    max_value = employment.max()   # Replace this with your code

    return (max_country, max_value)

max_employment(countries, employment)

('Angola', 75.699996949999999)