In [4]:
import pandas as pd

countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Angola',
    'Argentina', 'Armenia', 'Australia', 'Austria',
    'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
    'Barbados', 'Belarus', 'Belgium', 'Belize',
    'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
]


employment_values = [
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076,
]

# Employment data in 2007 for 20 countries
employment = pd.Series(employment_values, index=countries)

#df = pd.DataFrame(employment, columns=['A'])

#df = pandas.DataFrame(np.random.randn(10,3),columns=['A','B','C'])

#print(employment)

def max_employment(employment):
    '''
    Fill in this function to return the name of the country
    with the highest employment in the given employment
    data, and the employment in that country.
    
    The input will be a Pandas series where the values
    are employment and the index is country names.
    
    Try using the Pandas idxmax() function. Documention can
    be found here:
    http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.idxmax.html
    '''
    max_country = employment.idxmax()
    max_value = employment.loc[max_country]

    return (max_country, max_value)

In [5]:
max_employment(employment)

('Angola', 75.699996949999999)

In [7]:
x = 'James Joyce'
a,b = x.split(" ")
print (b +" "+ a)

Joyce James

In [6]:
x = 'James Joyce'
a,b = x.split(" ")
print (b)

Joyce

In [9]:
import pandas as pd

# Change False to True to see what the following block of code does

# Example pandas apply() usage (although this could have been done
# without apply() using vectorized operations)

names = pd.Series([
    'Andre Agassi',
    'Barry Bonds',
    'Christopher Columbus',
    'Daniel Defoe',
    'Emilio Estevez',
    'Fred Flintstone',
    'Greta Garbo',
    'Humbert Humbert',
    'Ivan Ilych',
    'James Joyce',
    'Keira Knightley',
    'Lois Lane',
    'Mike Myers',
    'Nick Nolte',
    'Ozzy Osbourne',
    'Pablo Picasso',
    'Quirinus Quirrell',
    'Rachael Ray',
    'Susan Sarandon',
    'Tina Turner',
    'Ugueth Urbina',
    'Vince Vaughn',
    'Woodrow Wilson',
    'Yoji Yamada',
    'Zinedine Zidane'
])

def reverse_names(names):
    firstname, lastname = names.split(" ")
    newnameorder = lastname +" "+ firstname
    '''
    Fill in this function to return a new series where each name
    in the input series has been transformed from the format
    "Firstname Lastname" to "Lastname, FirstName".
    
    Try to use the Pandas apply() function rather than a loop.
    '''
    return newnameorder

In [16]:
#reverse_names(names.iLoc[0]), .dropna - to remove nan

In [15]:
names_order = names.apply(reverse_names)
names_order =pd.Series(names_order)
print(names_order)

0             Agassi Andre
1              Bonds Barry
2     Columbus Christopher
3             Defoe Daniel
4           Estevez Emilio
5          Flintstone Fred
6              Garbo Greta
7          Humbert Humbert
8               Ilych Ivan
9              Joyce James
10         Knightley Keira
11               Lane Lois
12              Myers Mike
13              Nolte Nick
14           Osbourne Ozzy
15           Picasso Pablo
16       Quirrell Quirinus
17             Ray Rachael
18          Sarandon Susan
19             Turner Tina
20           Urbina Ugueth
21            Vaughn Vince
22          Wilson Woodrow
23             Yamada Yoji
24         Zidane Zinedine
dtype: object

In [ ]:

import matplotlib.pyplot as plt
plt.hist(data)
data.hist().
data.plot(). 
plt.show()